logging:
  level:
    root: debug
    io.kuark.xxx: debug

spring:
  datasource:
    auto-commit: true
    platform: h2
#    platform: info.jesseyang.config.SQLiteDialect
    username: sa
    password:
    url: "jdbc:h2:tcp://localhost:9092/./db/h2;DATABASE_TO_LOWER=TRUE;"
    driver-class-name: org.h2.Driver
#    url: "jdbc:sqlite:C:\\db\\sqlite\\db.db"
#    driver-class-name: org.sqlite.JDBC
#    schema: "classpath*:sql/schema.sql"
#    data: "classpath*:sql/data.sql"
#    initialization-mode: always
    hikari:
      maxPoolSize: 5
      minIdle: 5
      idleTimeout: 600000
      connectionTimeout: 30000
      maxLifetime: 1800000